name: Release Drafter

on:
  push:
    # branches to consider in the event; optional, defaults to all
    branches:
      - main
      - update-release-drafter-template

permissions:
  contents: read

jobs:
  draft-release:
    permissions:
      # write permission is required to create a github release
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Generate CalVer version
        id: calver
        env:
          TZ: Asia/Tokyo
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          DATE=$(date "+%Y.%m.%d")
          LATEST_RELEASE_TAG=$(gh release view --repo ${{github.repository}} --json tagName --jq .tagName) || true
          LATEST_RELEASE_DATE=$(echo "$LATEST_RELEASE_TAG" | cut -d. -f1-3)

          INCREMENTAL_VERSION=1
          if [ "$DATE" = "$LATEST_RELEASE_DATE" ]; then
              INCREMENTAL_VERSION=$(echo "$LATEST_RELEASE_TAG" | cut -d. -f4)
              ((INCREMENTAL_VERSION++))
          fi

          RELEASE_VERSION="$DATE.$INCREMENTAL_VERSION"
          echo "version=${RELEASE_VERSION}" >> $GITHUB_OUTPUT
          echo "Version set to ${RELEASE_VERSION}"
      # Drafts your next Release notes as Pull Requests are merged into "main"
      - uses: release-drafter/release-drafter@v5
        with:
          tag: ${{ steps.calver.outputs.version }}
          name: ${{ steps.calver.outputs.version }}
          version: ${{ steps.calver.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
